:root {
    --primary-color: #EF352B;
    --secondary-color: #831a15;
    --grey-color: #727375;
    --soft-grey-color: #e0e0e0;
    --white-color: #FFFFFF;
    --dark-color: #1a1a1a;
}


/* Super Admin */
#th{
    background-color: var(--secondary-color);
    color: var(--white-color);
}
