:root {
    --primary-color: #EF352B;
    --secondary-color: #831a15;
    --grey-color: #727375;
    --soft-grey-color: #e0e0e0;
    --white-color: #FFFFFF;
    --dark-color: #1a1a1a;
}

/* Wrapper */
.wrapper {
    display: flex;
    height: 100vh;
    overflow: hidden;
}

/* Sidebar */
#sidebar {
    min-width: 300px;
    max-width: 300px;
    background: var(--white-color);
    color: var(--white-color);
    transition: all 0.3s;
    height: 100%;
    position: fixed;
}

#side-logo-telkom {
    width: 20%;
}

#sidebar .sidebar-header {
    padding: 20px;
    background: var(--white-color);
}

#sidebar .sidebar-header span {
    color: var(--dark-color);
}


#sidebar ul.components {
    background-color: var(--secondary-color);
    height: 100vh;
    border-top-right-radius: 15px;
}

#sidebar ul li a {
    padding: 10px;
    margin: 10px;
    font-size: 1.1em;
    display: block;
    color: var(--white-color);
    transition: 0.5s;
    border-top-left-radius: 10px;
    border-bottom-left-radius: 10px;
    text-decoration: none;
    width: 106%;
}

#sidebar ul li a:hover {
    background: var(--white-color);
    color: var(--secondary-color);
    width: 106%;
    border-top-left-radius: 10px;
    border-bottom-left-radius: 10px;
}

#sidebar ul li.active>a {
    color: var(--secondary-color);
    background: var(--white-color);
    border-top-left-radius: 10px;
    border-bottom-left-radius: 10px;
    width: 106%;
}

/* Content Wrapper */
#content-wrapper {
    margin-left: 300px;
    width: calc(100% - 300px);
    transition: 0.5s;
    display: flex;
    flex-direction: column;
}

/* Navbar */
.navbar {
    padding: 20px;
    background: var(--white-color);
    border: none;
    border-radius: 0;
    width: 100%;
    position: sticky;
    top: 0;
}

#nav-logo-telkom {
    width: 3%;
    display: none;
}

.navbar-header {
    display: flex;
    align-items: center;
}

.navbar-header a {
    color: var(--dark-color);
    font-size: 24px;
    text-decoration: none;
}

.account {
    color: var(--dark-color);
}

/* Content */
#content {
    flex: 1;
    padding: 20px;
    overflow-y: auto;
}

@media (max-width: 800px) {
    #sidebar {
        display: none;
    }

    #content-wrapper {
        margin-left: 0px;
        width: calc(100% - 0px);
        display: flex;
        transition: 0.5s;
        flex-direction: column;
    }

    #nav-logo-telkom {
        width: 10%;
        display: block;
    }

    #drowpdown-account {
        margin-left: auto; /* Ensure the dropdown stays on the right */
    }
}
